<!doctype html>
<html>

<head>
    <title>
        <%=shopName%> Shop - About
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include('partials/header') %>

        <div class="container">
            <h1>About <%=shopName%> Shop</h1>
            <p>We sell all sorts of drinks</p>
            <h2>Our Shops</h2>
            <ul>
                <% for(let i=0; i < shops.length; i++) { %>
                    <li>
                        <strong>
                            <%= shops[i].location %> Shop
                        </strong>
                        <ul>
                            <li>Manager: <%= shops[i].manager %>
                            </li>
                            <li>Address: <%= shops[i].address %>
                            </li>
                        </ul>
                    </li>
                    <% } %>
            </ul>
        </div>
</body>

</html>