<!doctype html>
<html>

<head>
    <title>
        <%=shop_name%> - About
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <!-- Use container for the main content -->
        <div class="container">
            <h1>About <%=shop_name%> Shop</h1>
            <p>We sell all sorts of drinks</p>
            <h2>Our Shops</h2>
            <ul>
                <!-- Use forEach to iterate over shops -->
                <% shops.forEach((shop)=> { %>
                    <li>
                        <strong>
                            <%= shop.location %> Shop
                        </strong>
                        <ul>
                            <li>Manager: <%= shop.manager %>
                            </li>
                            <li>Address: <%= shop.address %>
                            </li>
                        </ul>
                    </li>
                    <% }) %>
            </ul>
        </div>
</body>

</html>