<!DOCTYPE html>
<html>

<head>
    <title>
        <%=shop_name%> - Survey
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <!-- Use container for the main content -->
        <div class="container">
            <h1>
                <%=shop_name%> Shop Survey
            </h1>
            <h2>Your feedback matters!</h2>
            <!-- Form for user survey -->
            <form method="POST" action="/survey_result">
                <label for="first">First Name:</label>
                <input id="first" type="text" name="first" />
                <label for="last">Surname:</label>
                <input id="last" type="text" name="last" />
                <label for="email">Email Address:</label>
                <input id="email" type="email" name="email" />
                <label for="age">How old are you?</label>
                <input id="age" type="text" name="age" />
                <label for="consumed_categories">Which of the following drinks categories do you consume?</label>
                <!-- Use forEach to iterate over product categories and create radio buttons -->
                <% product_categories.forEach((category)=> { %>
                    <input type="radio" id="<%= category %>" name="consumed_categories" value="<%= category %>" />
                    <label for="<%= category %>" class="inline">
                        <%= category %>
                    </label>
                    <% }); %>
                        <label for="is_student">Are you a student?</label>
                        <input id="is_student" type="checkbox" name="is_student" />
                        <input type="submit" value="OK" />
            </form>
        </div>
</body>

</html>