<!DOCTYPE html>
<html>

<head>
    <title>
        <%=shop_name%> Survey Results
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <!-- Use container for the main content -->
        <div class="container">
            <!-- Thank you message -->
            <h1>Thank you for your feedback, <%= first %>
                    <%= last %>!</h1>
            <!-- Display user information -->
            <p>Your first name: <%= first %>
            </p>
            <p>Your last name: <%= last %>
            </p>
            <p>Your email: <%= email %>
            </p>
            <p>Your age: <%= age %>
            </p>
            <p>You consumed: <%= consumed_categories %>
            </p>
            <!-- Use ternary operator to display a message based on student status -->
            <p>Your student status: <%= is_student ? 'Yes' : 'No' %>
            </p>
        </div>
</body>

</html>